# Entornos virtuales
venv/
.env/
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Flask
instance/
*.log

# Configuración del sistema
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp

# Jupyter
.ipynb_checkpoints/

# Variables de entorno
.env
